<!--
/**
 * @Author      : Kien
 * @package     Marketplace_Multiple_Table_Rate_Shipping
 * @copyright   Copyright (c) 2020 MAGETOP (http://www.magetop.com)
 * @terms  http://www.magetop.com/terms
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 **/
-->
<?php
    use Magento\Framework\App\Action\Action;
    $_sellertablerateshippingCollection = $block->getCollection();
?>
<div class=" block content-messages">
    <legend class="legend">
        <span><?php echo __('Marketplace Table Rate Shipping'); ?></span>
    </legend>
    <div class="table-wrapper ">
        <form action="<?php echo $block->getUrl('sellertablerateshipping/index/ImportShipping') ?>" id="upload_shipping_form" method="post" enctype="multipart/form-data" style="border: 1px solid silver;padding: 10px;margin: 10px 0 10px 0;">
        	<div>
    			<h3><?php echo __('Upload Shipping Detail')?></h3>
    		</div>
        	<div class="fieldset">
        		<a href="<?php echo $block->getViewFileUrl('Magetop_SellerTableRateShipping::files/shipping_import.csv')?>">
                    <span><?php echo __('Download sample file'); ?></span>
                </a>
                <table>
                    <tr>
                        <td>
                            <label><?php echo __('CSV File:')?></label>
            				<div class="input-box">
            					<input id="upload-shipping-csv" class="required-entry" name="shipping_file" type="file"/>
            				</div>
                        </td>
                        <td>
                            <button class="button" title="<?php echo __('Save Shipping')?>" type="submit" id="save-btn">
                				<span><span><?php echo __('Save Shipping')?></span></span>
                			</button>
                        </td>
                    </tr>
                </table>
        	</div>
            <style>
                #upload-shipping-csv-error{
                    position: relative;
                }
            </style>
        </form> 
                        
        <form method="post" id="newShipping" class="" action="<?php echo $block->getUrl('sellertablerateshipping/index/Addnew') ?>">
            <button id="add-new-shipping" style="float: left;padding: 5px;margin-right: 20px;" type="submit" title="<?php echo __('Add New Shipping') ?>" class="button">
                <span><span><?php echo __('Add New Shipping') ?></span></span>
            </button>
        </form>

        <form method="post" id="massDeleteShipping" class="" action="<?php echo $block->getUrl('sellertablerateshipping/index/massDelete') ?>">
            <button id="delete-allshipping" style="float: left;padding: 5px;" type="button" title="<?php echo __('Delete Shipping') ?>" class="button">
                <span><span><?php echo __('Delete Shipping') ?></span></span>
            </button>
            <table id="my-orders-table" class="data table table-order-items history">
                <caption class="table-caption"><?php echo __('Orders'); ?></caption>
                <thead>
                    <tr>
                        <th><input type="checkbox" name="selecteallshipping" class="checkbox" /></th>
                        <th class="col" scope="col"><?php echo __('ID'); ?>#</th>
                        <th class="col" scope="col"><?php echo __('Title'); ?></th>
                        <th class="col" scope="col"><?php echo __('Type'); ?></th>
                        <th class="col" scope="col"><?php echo __('Price'); ?></th>
                        <th class="col" scope="col"><?php echo __('Country Code'); ?></th>
                        <th class="col" scope="col"><?php echo __('Region Id'); ?></th>
                        <th class="col" scope="col"><?php echo __('Zip(From-To)'); ?></th>
                        <th class="col" scope="col"><?php echo __('Weight(From-To)'); ?></th>
                        <th class="col" scope="col"><?php echo __('Free Shipping'); ?></th>
                        <th class="col" scope="col"><?php echo __('Sort Order'); ?></th>
                        <th class="col" scope="col"><?php echo __('Status'); ?></th>
                        <th class="col" scope="col">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <?php if ($_sellertablerateshippingCollection->count()) { ?>
                        <?php foreach($_sellertablerateshippingCollection as $item){ ?>
                            <tr class="">
                                <td>
                                    <input type="checkbox" class="checkbox" name="shipping_selected[]" value="<?php echo $item->getId(); ?>" />
                                </td>
                                <td class="col" data-th="#"><?php echo $item->getId() ?></td>
                                <td class="col" data-th="#"><?php echo $item->getTitle() ?></td>
                                <td class="col" data-th="#"><?php echo $item->getType()==2?__("Per Item"):__("Per Order") ?></td>
                                <td class="col" data-th="#"><?php echo \Magento\Framework\App\ObjectManager::getInstance()->create('Magento\Framework\Pricing\Helper\Data')->currency($item->getPrice(), true, false) ?></td>
                                <td class="col" data-th="#"><?php echo $item->getCountryCode() ?></td>
                                <td class="col" data-th="#"><?php echo $item->getRegionId() ?></td>
                                <td class="col" data-th="#"><?php echo $item->getZipFrom() ?> - <?php echo $item->getZipTo() ?></td>
                                <td class="col" data-th="#"><?php echo $item->getWeightFrom() ?> - <?php echo $item->getWeightTo() ?></td>
                                <td class="col" data-th="#"><?php echo \Magento\Framework\App\ObjectManager::getInstance()->create('Magento\Framework\Pricing\Helper\Data')->currency( $item->getFreeShipping(), true, false) ?></td>
                                <td class="col" data-th="#"><?php echo $item->getSortOrder(); ?></td>
                                <td>
                                    <span class="mst_label">
                                        <style>
                                            .grid-severity-notice {
                                                background: #d0e5a9 none repeat scroll 0 0;
                                                border: 1px solid #5b8116;
                                                color: #185b00;
                                                display: block;
                                                font-weight: bold;
                                                line-height: 17px;
                                                padding: 0 3px;
                                                text-align: center;
                                                text-transform: uppercase;
                                                float: left;
                                            }
                                            .grid-severity-critical {
                                                background: #f9d4d4 none repeat scroll 0 0;
                                                border: 1px solid #e22626;
                                                color: #e22626;
                                                display: block;
                                                font-weight: bold;
                                                line-height: 17px;
                                                padding: 0 3px;
                                                text-align: center;
                                                text-transform: uppercase;
                                                float: left;
                                            }
                                        </style>
                                        <?php 
                                            if ($item->getStatus()) {
                                                echo '<span class="grid-severity-notice"><span>'.__('Enabled').'</span></span>';
                                            } else {
                                                echo '<span class="grid-severity-critical"><span>'.__('Disabled').'</span></span>';
                                            }
                                        ?>
                                    </span>
                                </td>
                                <td class="col" data-th="Actions">
                                    <a class="action view" href="<?php echo $this->getUrl('sellertablerateshipping/index/view').'id/'.$item->getId() ?>">
                                        <span><?php echo __('View'); ?></span>
                                    </a>
                                </td>
                            </tr>
                        <?php } ?>
                    <?php } else { ?>
                        <tr>
                            <td colspan="13">
                                <div class="message notice">
                        			<div><?php echo __("You don't have any shipping at this time."); ?></div>
                        		</div>
                            </td>
                        </tr>
            		<?php } ?>
                </tbody>
            </table>
        </form>
    </div>
    <?php if ($block->getPagerHtml()): ?>
    	<div class="toolbar bottom"><?php echo $block->getPagerHtml();?></div>
    <?php endif ?>
</div>
<script>
    require([
        "jquery",
        'Magento_Ui/js/modal/confirm',
        'Magento_Ui/js/modal/alert',
        "mage/calendar"
    ], function($,confirmation,alert){
        $('input[type=checkbox][name=selecteallshipping]').on('click',function(){
            if(this.checked==true){
                $('input[type=checkbox][name^=shipping_selected]').each(function(){
                    this.checked=true;
                });		
            }else{
                $('input[type=checkbox][name^=shipping_selected]').each(function(){
                    this.checked=false;
                });			
            }
        });
        $('button#delete-allshipping').on('click',function(){
            var _flag=0;
            $('input[type=checkbox][name^=shipping_selected]').each(function(){
                if(this.checked==true){
                    _flag=1;
                    return false;
                }
            });
            if(!_flag){
                alert({
                    title:'<?php echo __('Attention') ?>',
                    content:"<?php echo __("You haven't selected any items!") ?>",
                    actions:{
                        always: function(){}
                    }
                });
            }else{
                confirmation({
                    title:'<?php echo __('Delete Shipping') ?>',
                    content:'<?php echo __("Delete selected items?") ?>',
                    actions:{
                        confirm:function(){
                            document.getElementById('massDeleteShipping').submit();                            
                            //$('form#massDeleteShipping').submit();
                        },
                        cancel: function(){},
                        always: function(){}
                    }
                });		
            }	
        });	
        $('.multi_table_rate_shipping').addClass('current');
                
        var dataForm = $('#upload_shipping_form');
        dataForm.mage('validation', {});
        var _action = dataForm.attr('action');
    });
</script>