<!--
/**
 * @Author      : Kien
 * @package     Marketplace_Multiple_Table_Rate_Shipping
 * @copyright   Copyright (c) 2020 MAGETOP (http://www.magetop.com)
 * @terms  http://www.magetop.com/terms
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 **/
-->
<div class="block content-shipping">
    <form id="shipping-form" action="<?php echo $block->getUrl('sellertablerateshipping/index/save') ?>" method="post" novalidate="novalidate">
        <fieldset class="fieldset info shipping">
            <legend class="legend">
                <span><?php echo __('Add New Shipping Table Rate')?></span>
            </legend>
            <div class="field field-title required">
                <label class="label" for="title">
                    <span><?php echo __('Title'); ?></span>
                </label>
                <div class="control">
                    <input value="" type="text" aria-required="true" name="title" class="input-text required-entry" data-validate="{required:true}"/>
                </div>
            </div>
            <div class="field field-type required">
                <label class="label" for="type">
                    <span><?php echo __('Type'); ?></span>
                </label>
                <div class="control">
                    <select  name="type">
                        <option value="1"><span><?php echo __('Per Order'); ?></span></option>
                        <option value="2"><span><?php echo __('Per Item'); ?></option>
                    </select>
                </div>
            </div>
            <div class="field field-price required">
                <label class="label" for="price">
                    <span><?php echo __('Price'); ?></span>
                </label>
                <div class="control">
                    <input value="" type="text" aria-required="true" name="price" class="input-text required-entry" data-validate="{required:true}"/>
                </div>
            </div>
            <div class="field field-price required">
                <label class="label" for="country_code">
                    <span><?php echo __('Country Code'); ?></span>
                </label>
                <div class="control">
                    <input value="" type="text" aria-required="true" name="country_code" class="input-text required-entry" data-validate="{required:true}"/>
                </div>
            </div>
            <div class="field field-price required">
                <label class="label" for="region_id">
                    <span><?php echo __('Region Id'); ?></span>
                </label>
                <div class="control">
                    <input value="" type="text" aria-required="true" name="region_id" class="input-text required-entry" data-validate="{required:true}"/>
                </div>
            </div>
            <?php /*
			<div class="field field-price required">
                <label class="label" for="zip_from">
                    <span><?php echo __('Zip From'); ?></span>
                </label>
                <div class="control">
                    <input value="" type="text" aria-required="true" name="zip_from" class="input-text required-entry" data-validate="{required:true}"/>
                </div>
            </div>
            <div class="field field-price required">
                <label class="label" for="zip_to">
                    <span><?php echo __('Zip To'); ?></span>
                </label>
                <div class="control">
                    <input value="" type="text" aria-required="true" name="zip_to" class="input-text required-entry" data-validate="{required:true}"/>
                </div>
            </div>
			*/ ?>
            <div class="field field-price required">
                <label class="label" for="weight_from">
                    <span><?php echo __('Weight From'); ?></span>
                </label>
                <div class="control">
                    <input value="" type="text" aria-required="true" name="weight_from" class="input-text required-entry" data-validate="{required:true}"/>
                </div>
            </div>
            <div class="field field-price required">
                <label class="label" for="weight_to">
                    <span><?php echo __('Weight To'); ?></span>
                </label>
                <div class="control">
                    <input value="" type="text" aria-required="true" name="weight_to" class="input-text required-entry" data-validate="{required:true}"/>
                </div>
            </div>
            <div class="field field-free required">
                <label class="label" for="free">
                    <span><?php echo __('Free Shipping'); ?></span>
                </label>
                <div class="control">
                    <input value="" type="text" aria-required="true" name="free_shipping" class="input-text required-entry" data-validate="{required:true}"/>
                    <p id="note_withdraw_amount" class="note">
                        <span><?php echo __('Minimun order amount for free shipping'); ?></span>
                    </p>
                </div>
            </div>            
            <div class="field field-sort_order required">
                <label class="label" for="sort_order">
                    <span><?php echo __('Sort Order'); ?></span>
                </label>
                <div class="control">
                    <input value="" type="text" aria-required="true" name="sort_order" class="input-text required-entry" data-validate="{required:true}"/>
                </div>
            </div>
            <div class="field field-status required">
                <label class="label" for="status">
                    <span><?php echo __('Status'); ?></span>
                </label>
                <div class="control">
                    <select  name="status">
                        <option value="1"><?php echo __('Enable'); ?></option>
                        <option value="0"><?php echo __('Disable'); ?></option>
                    </select>
                </div>
            </div>
        </fieldset>
        <div class="actions-toolbar">
            <div class="primary">
                <button type="submit" class="action continue primary" title="<?php echo __('Continue'); ?>"><span><?php echo __('Save'); ?></span></button>
            </div>
            <div style="float: right;" class="primary">
                <a href="javascript:;" onclick="javascript: window.history.back();" class="left"><?php echo __('Back'); ?></a>
            </div>
        </div>
    </form>
</div>
<script>
    require([
        "jquery",
        'Magento_Ui/js/modal/confirm',
        'Magento_Ui/js/modal/alert',
        "mage/calendar"
    ], function($,confirmation,alert){
        $('.multi_table_rate_shipping').addClass('current');
    });
    require([
        "jquery",
        "mage/mage"
    ], function($){
        var dataForm = $('#shipping-form');
        dataForm.mage('validation', {});
        var _action = dataForm.attr('action');
    });
</script>