<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
        <!-- ko if: isDisplayLogos -->
            <div id="bobworldlineinr-logos">
                <div data-bind="foreach: getLogos()" >
                    <img data-bind="attr: { src: image, alt: type }">
                </div>
            </div>
        <!--/ko-->
    </div>
    <div class="payment-method-content">
        <label>You will be redirected to Worldline Payment Page to complete the transaction, choose this option for Indian Rupee Credit/Debit Card</label>
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <!-- ko if: isTokenEnabled -->
            <div class="bobworldlineinr-saved-tokens">
                <div class="bobworldlineinr-token-agreement">
                    <div>
                        <p data-bind="i18n: 'It is possible to receive a card token from the payment service provider and save it in our database. This allows your future payments to be made without the need to enter the full set of card details in the payment form.'"></p>
                        <!-- ko ifnot: isLoggedIn -->
                            <p>
                                <a data-bind="attr: { href: loginUrl}, i18n: 'Sign in'"></a>
                                <span data-bind="i18n: 'to manage your tokens'"></span>
                            </p>
                        <!--/ko-->
                        <!-- ko if: isLoggedIn -->
                            <input type="checkbox"
                                   id="bobworldlineinr-token-agreement"
                                   name="bobworldlineinr-token-agreement"
                                   data-bind="checked: isAgree" />
                            <label for="bobworldlineinr-token-agreement">
                                <!-- ko if: !hasTokens -->
                                    <span data-bind="i18n: 'I want my card to be saved'"></span>
                                <!--/ko-->
                                <!-- ko if: hasTokens -->
                                    <span data-bind="i18n: 'Use a saved card for the payment or save a new card'"></span>
                                <!--/ko-->
                            </label>
                        <!--/ko-->
                    </div>
                    <!-- ko if: isLoggedIn -->
                        <!-- ko if: hasTokens -->
                            <div class="tokens-list" data-bind="visible: isAgree">
                                <ul>
                                <div data-bind="foreach: tokenManager.getCards()" >
                                    <li data-bind="attr: { class: 'card-token-' + id }">
                                        <label>
                                        <input type="radio"
                                               data-bind="attr: {name: id, value: id}, checked: $parent.selectedCard" />
                                        <!-- ko if: type != 'new-card' -->
                                            <img data-bind="attr: { src: image, alt: type }">
                                        <!--/ko-->
                                        <span data-bind="text: label"></span>
                                        </label>
                                        <!-- ko if: type != 'new-card' -->
                                            <a class="action-delete"
                                               data-bind="click: $parent.deleteToken.bind(id)">
                                                <span data-bind="i18n: 'Remove'"></span>
                                            </a>
                                        <!--/ko-->
                                    </li>
                                </div>
                                </ul>
                            </div>
                        <!--/ko-->
                    <!--/ko-->
                </div>
            </div>
        <!--/ko-->
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>