<!--
/**
 * @Author      : Kien
 * @package     Marketplace_Seller_Store_Locator
 * @copyright   Copyright (c) 2020 MAGETOP (http://www.magetop.com)
 * @terms  http://www.magetop.com/terms
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 **/
-->
<?php 
    $storelocatorData = $block->getCollection()->getData(); 
	$helperMk = $this->helper(\Magetop\Marketplace\Helper\Collection::class);
?>
<div class="content-viewstore">
    <div class="store-map">           
        <div id="googleMap" style="padding-top: 58%;width: 100%;"></div>
		<?php 
			$_mkhelp = $this->helper('Magetop\Marketplace\Helper\Data');
			$_mapkey =  $_mkhelp->getKeyMap();
		?>
        <?php if( isset($_SERVER['HTTPS'] ) ) { ?>
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&key=<?php echo $_mapkey; ?>&libraries=places&sensor=false"></script>
        <?php }else{ ?>
            <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3&key=<?php echo $_mapkey; ?>&libraries=places&sensor=false"></script>
        <?php } ?>
        <script type="text/javascript" src="<?php echo $block->getBaseUrl() ?>/pub/static/frontend/Magento/luma/en_US/Magetop_SellerStoreLocator/js/mk_maps.js"></script>
        <script>
            function init() {
                var input = document.getElementById('store_address');
                var autocomplete = new google.maps.places.Autocomplete(input);
            }
            google.maps.event.addDomListener(window, 'load', init);
        </script>
    	<script type="text/javascript">
        	//<![CDATA[       
            	var arrayHtml = [];
            	var arrayInfo = [];
            	var storeloactor = new sellerStoreLocatorMap();  
                storeloactor.initialize(<?php echo $storelocatorData['latitude']; ?>, <?php echo $storelocatorData['longitude']; ?>, <?php echo $storelocatorData['zoom_level']; ?>, 'googleMap');
            	var infoWindow = new google.maps.InfoWindow();
            	var htmlInput = '';
        	//]]>
        </script> 
        
        <?php
            $seller = $block->getSellerInfoById($storelocatorData['seller_id']);
            if($storelocatorData['mapicon'] != ''){
                $logo = $block->getMkBaseMediaUrl().$storelocatorData['mapicon'];
            }else{
                $logo = $block->getViewFileUrl('Magetop_SellerStoreLocator::images/noimage.png');
            }  
        ?>
    	<script type="text/javascript">
    		//<![CDATA[       
    		var latitude = <?php echo $storelocatorData['latitude']; ?>;
    		var longtitude = <?php echo $storelocatorData['longitude']; ?>;
    		var store_id = <?php echo $storelocatorData['id']; ?>;
            var image = '<?php echo $block->getViewFileUrl('Magetop_SellerStoreLocator::images/magetop_big_icon.png'); ?>';
    		var zoom_level = <?php echo $storelocatorData['zoom_level']; ?>;
            var base_image = '<?php echo $logo; ?>';
    		var html_image = '';
    		if(base_image != ''){
                html_image = '<div class="base-image" style="width: 70px; float: left; margin: 5px;">'
                                +'<img width="70px" src="'+base_image+'" alt="" />'
        					+'</div>';
    		}
    		var info_store = '<div class="info-store" style="width: 150px; float: left;margin: 5px;">'
        						+'<div class="title-store" style="font-size: 15px"><strong><?php echo $seller[0]['storetitle']; ?></strong></div>'
        						+'<div class="adress-store" style="font-size: 12px"><?php echo $storelocatorData['shop_location']; ?></div>'
        						+'<div class="detail-store"><a href="<?php echo  $helperMk->getRewriteUrl("marketplace/seller/view/vendor/".$seller[0]['storeurl']); ?>"><?php echo __('View collections')?></a></div>'
    						+'</div>'
                            + html_image;
    		marker_point = new google.maps.LatLng(latitude, longtitude);
    		storeloactor.extendStoreBound(marker_point);
    	   	//info
    		var info_popup = {};
            info_popup.store_id = store_id;
            info_popup.html = info_store;
            info_popup.zoom = <?php echo $storelocatorData['zoom_level']; ?>;
            info_popup.point = marker_point;
    		arrayInfo.push(info_popup);					
    		storeloactor.placeStoreMarker(marker_point, info_store, store_id, image, zoom_level, infoWindow, 0);                                     				 
            //]]>
    	</script>
        
    	<script type="text/javascript">
    		function storeActive(id) {		  
    			for(i=0 ; i<arrayInfo.length; i++){
                    if(arrayInfo[i].store_id == id){
    					infoWindow.setContent(arrayInfo[i].html);
    					infoWindow.setPosition(arrayInfo[i].point);                      
    					storeloactor.map.setCenter(arrayInfo[i].point);            
    					infoWindow.open(storeloactor.map);
    					if(arrayInfo[i].zoom!=0){
    						storeloactor.map.setZoom(arrayInfo[i].zoom);
    					}
    					break;
    				}
    			}               
    		}
            javascript:storeActive(<?php echo $storelocatorData['id']; ?>);
            storeloactor.setFitStoreBoundsOne();
    	</script> 
    </div> 
	<div class="store-info">
        <div class="main_info">
            <legend class="legend">
                <span><?php echo __('Store Information') ?></span>
            </legend>                
            <ul class="store-list">
				<li><strong><?php echo __('Store Name') ?> :</strong> <?php echo $storelocatorData['title'] ?></li>
                <li><strong><?php echo __('Store Location') ?> :</strong> <?php echo $storelocatorData['shop_location'] ?></li>
                <li><strong><?php echo __('Street Address') ?> :</strong> <?php echo $storelocatorData['address'] ?></li>
                <li><strong><?php echo __('Contact Number') ?> :</strong> <?php echo $storelocatorData['phone_number'] ?></li>
                <li><strong><?php echo __('City') ?> :</strong> <?php echo $storelocatorData['city'] ?></li>
                <li><strong><?php echo __('State/Province') ?> :</strong> <?php echo $storelocatorData['state'] ?></li>
                <li><strong><?php echo __('Zip/Postal Code') ?> :</strong> <?php echo $storelocatorData['zipcode'] ?></li>
                <li><strong><?php echo __('Country') ?> :</strong> <?php echo $storelocatorData['country'] ?></li>
			</ul>
        </div>
        
        <div class="store_time">
            <legend class="legend">
                <span><?php echo __('Opening hours (In 24 Hour Time Format)') ?></span>
            </legend>
            <?php $store_time = json_decode($storelocatorData['store_time']) ?>
            <ul class="store-list">
			<?php for($day = 2;$day<=8;$day++){ ?>
                <li>
					<strong>
                        <?php 
                            switch($day){
                                case 2 : 
                                    echo __('Monday');
                                    $open_day = $store_time->mon_in_time;
                                    $close_day = $store_time->mon_out_time;
                                break;
                                case 3 : 
                                    echo __('Tuesday');
                                    $open_day = $store_time->tue_in_time;
                                    $close_day = $store_time->tue_out_time;
                                break;
                                case 4 : 
                                    echo __('Wednesday');
                                    $open_day = $store_time->web_in_time;
                                    $close_day = $store_time->web_out_time;
                                break;
                                case 5 : 
                                    echo __('Thursday');
                                    $open_day = $store_time->thu_in_time;
                                    $close_day = $store_time->thu_out_time;
                                break;
                                case 6 : 
                                    echo __('Friday');
                                    $open_day = $store_time->fri_in_time;
                                    $close_day = $store_time->fri_out_time;
                                break;
                                case 7 : 
                                    echo __('Saturday');
                                    $open_day = $store_time->sat_in_time;
                                    $close_day = $store_time->sat_out_time;
                                break;
                                case 8 : 
                                    echo __('Sunday');
                                    $open_day = $store_time->sun_in_time;
                                    $close_day = $store_time->sun_out_time;
                                break;
                            }
                        ?>
					</strong>	
                    <?php echo $open_day[0].':'.$open_day[1].':'.$open_day[2] ?> - <?php echo $close_day[0].':'.$close_day[1].':'.$close_day[2] ?>    
                </li>
            <?php } ?>
			</ul>
        </div>
    </div>    
</div>