<?php
/**
 * Magetop Software.
 *
 * @category  Magetop
 * @package   Magetop_Marketplace
 * @author    Magetop
 * @copyright Copyright (c) Magetop Software Private Limited (https://magetop.com)
 * @license   https://store.magetop.com/license.html
 */
//$mkhelper = $this->helper('Magetop\Marketplace\Helper\Collection');
//$partner = $mkhelper->getProfileDetail('/view/vendor');
//$sellerId = $partner->getUserId();
?>
<?php 
$sellerquickrfq = $block->getSellerquickrfqInformation(); 
?>
<div id="mt-mp-rfq-data">
            <form class="form quickrfq"
				action="<?php /* @escapeNotVerified */ echo $block->getFormAction(); ?>"
				id="quickrfq_form"
				enctype="multipart/form-data"
				method="post"
				onsubmit="return myFunction2()"
				data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>"
				data-mage-init='{"validation":{}}'>									
				<fieldset class="fieldset">
					<input type="hidden" name="quickrfq_id" value="<?php echo $this->getRequest()->getParam('id') ?>"/>
					<input name="seller_id" value="<?php echo $sellerquickrfq->getSellerId(); ?>" type="hidden" />
					<legend class="legend"><span><?php /* @escapeNotVerified */ echo __('RFQ Requirements') ?></span></legend><br />
					<div class="field name required">
						<label class="label" for="company"><?php echo __('Company Name:') ?></label>
						<div class="control">
							<input name="company" id="company" value="<?php echo $sellerquickrfq->getCompany() ? $sellerquickrfq->getCompany():""; ?>" class="input-text" type="text" data-validate="{required:true}"/>
						</div>
					</div>
					<div class="field contact_name required">
						<label class="label" for="contact_name"><span><?php /* @escapeNotVerified */ echo __('Contact Name') ?></span></label>
						<div class="control">
							<input name="contact_name" id="contact_name" title="<?php /* @escapeNotVerified */ echo __('Contact Name') ?>" value="<?php echo $sellerquickrfq->getContactName() ? $sellerquickrfq->getContactName():""; ?>" class="input-text" type="text" data-validate="{required:true}"/>
						</div>
					</div>
					<div class="field email required">
						<label class="label" for="email"><span><?php /* @escapeNotVerified */ echo __('Email') ?></span></label>
						<div class="control">
							<input name="email" id="email" title="<?php /* @escapeNotVerified */ echo __('Email') ?>" value="<?php echo $sellerquickrfq->getEmail() ? $sellerquickrfq->getEmail():""; ?>" class="input-text" type="email" data-validate="{required:true, 'validate-email':true}"/>
						</div>
					</div>
					<div class="field phone">
						<label class="label" for="phone"><span><?php /* @escapeNotVerified */ echo __('Phone Number') ?></span></label>
						<div class="control">
							<input name="phone" id="phone" title="<?php /* @escapeNotVerified */ echo __('Phone Number') ?>" value="<?php echo $sellerquickrfq->getPhone() ? $sellerquickrfq->getPhone():""; ?>" class="input-text" type="text" />
						</div>
					</div>
					<div class="field project_title">
						<label class="label" for="project_title"><span><?php /* @escapeNotVerified */ echo __('Project Title') ?></span></label>
						<div class="control">
							<input name="project_title" id="project_title" title="<?php /* @escapeNotVerified */ echo __('Project Title') ?>" value="<?php echo $sellerquickrfq->getProjectTitle() ? $sellerquickrfq->getProjectTitle():""; ?>" class="input-text" type="text" />
						</div>
					</div>
					<?php $_date = $block->getLayout()->createBlock('Magetop\Quickrfq\Block\Widget\DateQuote') ?>
					<?php if ($_date->isEnabled()): ?>
						<?php //echo $_date->toHtml() ?>
						<div class="field date field-date required"> 
							<label class="label" for="date"><span><?php echo __('Delivery'); ?></span></label>
							<div class="control quickrfq-date"> 
								<input type="text" name="date" id="date" value="<?php echo $sellerquickrfq->getDate() ? $sellerquickrfq->getDate():""; ?>" class="_has-datepicker" autocomplete="on" aria-required="true"> 
								<script type="text/javascript">require(["jquery", "mage/calendar"], function($){
									$("#date").calendar({
										showsTime: false,
										dateFormat: "M/d/yy",
										buttonImage: "https://bemago.xyz/green/pub/static/frontend/topico/topico_home1_rtl/ar_SA/Magento_Theme/calendar.png",
										buttonText: "<?php echo __('Delivery date'); ?>"})
									});
								</script> 
							</div>
						</div>
					<?php endif ?>
					<div class="field budget">
						<label class="label" for="budget"><?php echo __('Project Budget Status') ?></label>
						<div class="control">
							<div class="input-box">
								<input name="budget" value="Approved"<?php if($sellerquickrfq->getBudget()=='Approved'): ?> checked="checked"<?php endif; ?> type="radio"><?php echo __('Approved') ?>
								<input name="budget" value="Approval Pending"<?php if($sellerquickrfq->getBudget()=='Approval Pending'): ?> checked="checked"<?php endif; ?> type="radio"><?php echo __('Approval Pending') ?>
								<input name="budget" value="Open"<?php if($sellerquickrfq->getBudget()=='Open'): ?> checked="checked"<?php endif; ?> type="radio"><?php echo __('Open') ?>
								<input name="budget" value="No Approval"<?php if($sellerquickrfq->getBudget()=='No Approval'): ?> checked="checked"<?php endif; ?> type="radio"><?php echo __('No Approval') ?>
							</div>
						</div>
					</div>
					<div class="field overview required">
						<label class="label" for="overview"><span><?php /* @escapeNotVerified */ echo __('Brief Overview') ?></span></label>
						<div class="control">
							<textarea name="overview" id="overview" title="<?php /* @escapeNotVerified */ echo __('Brief Overview') ?>" class="input-text" cols="5" rows="3" data-validate="{required:true}"><?php echo $sellerquickrfq->getOverview() ? $sellerquickrfq->getOverview():""; ?></textarea>
						</div>
					</div>	
					<div class="field prd">
						<label for="prd"><?php echo __('Upload Document:') ?></label>
						<div class="input-box">
							<input type="file" id="prd" name="prd" value="<?php echo $sellerquickrfq->getPrd() ? $sellerquickrfq->getPrd():""; ?>">
							<br>
							<p> <?php echo __("You can upload files with these file extensions only (%1)", $block->getAllowedFileExtensions()) ?> </p>
						</div>
					</div>
					<div class="field">
						<?php if($block->isCaptchaEnable()): ?>
							<div class="g-recaptcha"  name="recaptcha" id="recaptcha" data-sitekey="<?php echo $block->getPublicKey(); ?>"></div>
							<div>
								<p style="cursor: auto;color: #9b9b9b;padding-left: 235px;font-family: Roboto,helvetica,arial,sans-serif;font-size: 8px;font-weight: 400;margin-top: -35px;">by <a style="color: #9b9b9b;" rel="no-follow" target="_Blank" href="https://www.magetop.com/magento-extensions.html">Magetop extensions</a></p>  
							</div>	 
						<?php endif; ?>
					</div>	
					<?php echo $block->getChildHtml('form.additional.info'); ?>
				</fieldset>
				<div class="actions-toolbar">
					<div class="primary">
						<input type="hidden" name="hideit" id="hideit" value="" />
						<button type="submit" title="<?php /* @escapeNotVerified */ echo __('Submit') ?>" class="action submit primary">
							<span><?php /* @escapeNotVerified */ echo __('Submit') ?></span>
						</button>
					</div>
				</div>
			</form>
</div>