<?php
    $_quickrfqCollection = $block->getQuickrfq();
?>
<div class=" block content-quickrfq" >
    <legend class="legend">
        <span><?php echo __('All Quickrfq'); ?></span>
    </legend>
    <div class="table-wrapper ">
        <table id="my-orders-table" class="data table table-order-items history">
            <thead>
                <tr>
                    <th class="col" scope="col action">ID</th>
                    <th class="col" scope="col"><?php echo __('Contact Name'); ?></th>
                    <th class="col" scope="col"><?php echo __('Company'); ?></th>
                    <th class="col" scope="col"><?php echo __('Email'); ?></th>
                    <th class="col" scope="col"><?php echo __('Project Title'); ?></th>
                    <th class="col" scope="col"><?php echo __('Status'); ?></th>
                    <th class="col" scope="col"><?php echo __('Created'); ?></th>
                    <th class="col" scope="col"><?php echo __('Action'); ?></th>
                </tr>
            </thead>
            <tbody>
                <?php if ($_quickrfqCollection->count()) { ?>
                    <?php
                        foreach($_quickrfqCollection as $item){
                            $createdat = date('M-d',strtotime( $item->getCreateDate() ));
                            $quickrfq_createdat = str_replace('-',', ',preg_replace('/-/',' ',$createdat,1));	
                    ?>
                            <tr>
                                <td class="col"><?php echo $item->getQuickrfqId() ?></td>
                                <td class="col"><?php echo $item->getContactName() ?></td>
                                <td class="col"><?php echo $item->getCompany() ?></td>
                                <td class="col"><?php echo $item->getEmail() ?></td>
                                <td class="col"><?php echo $item->getProjectTitle() ?></td>
                                <td class="col"><?php echo $item->getBudget() ?></td>
                                <td class="col"><?php echo $quickrfq_createdat; ?></td>
                                <td class="col">
                                    <a class="action view" href="<?php echo $this->getUrl('quickrfq/index/edit').'id/'.$item->getId() ?>">
                                        <span><?php echo __('View'); ?></span>
                                    </a>
                                </td>
                            </tr>
                    <?php } ?>
                <?php } else { ?>
                    <tr>
                        <td colspan="8">
                    		<div class="message notice">
                    			<div><?php echo __("You don't have any subscriptions at this time."); ?></div>
                    		</div>
                        </td>
                    </tr>
        		<?php } ?>
            </tbody>
        </table>
    </div>
    <?php if ($block->getPagerHtml()): ?>
    	<div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml();?></div>
    <?php endif ?>
</div>