<!--
/**
 * @Author      : Kien
 * @package     Marketplace_Seller_Store_Locator
 * @copyright   Copyright (c) 2020 MAGETOP (http://www.magetop.com)
 * @terms  http://www.magetop.com/terms
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 **/
-->
<div class="google-map" id="google-map">
    <div id="button-reset" style="margin-top:20px; margin-bottom: -12px;">
        <button type="button">
            <span><?php echo __('Reset Google Map')?></span>
        </button>
    </div>        
    <div id="notice-map"></div>        
    <div id="googleMap" style="height: 400px;width: 100%;margin-top: 20px;border: 1px solid;"></div>
</div>    
<?php 
    $id = $this->getRequest()->getParam('id'); 
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$_mkhelp = $objectManager->get('Magetop\Marketplace\Helper\Data');
	$_mapkey =  $_mkhelp->getKeyMap();
    if($id){
		$locator = $objectManager->create('Magetop\SellerStoreLocator\Model\SellerStoreLocator')->load($id);
	}
?>
<?php if( isset($_SERVER['HTTPS'] ) ) { ?>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&key=<?php echo $_mapkey; ?>&libraries=places&sensor=false"></script>
<?php }else{ ?>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3&key=<?php echo $_mapkey; ?>&libraries=places&sensor=false"></script>
<?php } ?>
<script type="text/javascript">
	require([
		'jquery',
		'Magento_Ui/js/modal/modal',
		'mk_seller_store_locator_map_js'
	],
	function($, modal, mkMap) {
        var lat = 40.8516701;
        var lon = -93.2599318;
        var zoom_level = 4;
        var shop_location = '';
        <?php if($id){ ?>
            lat = <?php echo $locator->getLatitude() ?>;
            lon = <?php echo $locator->getLongitude() ?>;
            zoom_level = <?php echo $locator->getZoomLevel() ?>;
            shop_location = '<?php echo $locator->getShopLocation() ?>';
        <?php } ?>
        
        loadMap = new mkMap();
        loadMap.getSellerStoreLocatorPoint(lat,lon,zoom_level);
        
        function loadGMap(){
            loadMap.getSellerStoreLocatorPoint(lat,lon,zoom_level);
            console.log('loaded gmap');
        }
        setTimeout(loadGMap, 3000);
        
        $('#button-reset').click(function(){
            loadMap.getSellerStoreLocatorPoint(lat,lon,zoom_level);
            $('#sellerstorelocator_latitude').val(lat);
            $('#sellerstorelocator_longitude').val(lon);
            $('#sellerstorelocator_zoom_level').val(zoom_level);
            $('#sellerstorelocator_shop_location').val(shop_location);
            $('#sellerstorelocator_latitude').css('background','#FFFFFF');
            $('#sellerstorelocator_longitude').css('background','#FFFFFF');
            $('#sellerstorelocator_zoom_level').css('background','#FFFFFF');
            $('#sellerstorelocator_shop_location').css('background','#FFFFFF');
            console.log('reset map');
        });
        
        $('#sellerstorelocator_tabs_store_map_section').one('click', function(){
            setTimeout(loadGMap, 1000);
        });
    });
</script> 