<iframe id="bobwordlineinr-payment-container" name="bobworldlineinr-payment-container"></iframe>
<script>
require(
    [
        'jquery',
        'Magento_Ui/js/modal/modal',
        'Magento_Checkout/js/action/redirect-on-success'
    ],
    function ($, modal, redirectOnSuccessAction) {
        var options = {
            type: 'popup',
            modalCloseBtn: '',
            wrapperClass: 'bobworldlineinr-modal',
            buttons: [{
                text: $.mage.__('Cancel'),
                click: function () {
                    $.mage.redirect("<?php /* @escapeNotVerified */ echo $block->getCancelUrl() ?>");
                }
            }]
        };

        modal(options, $('#bobwordlineinr-popup'));

        var shrinkIframe = function(iframe, data, modal_inner_wrap) {
            $('.bobworldlineinr-modal .modal-footer').show();
            var cssText = "width: " + data.modal_data.width + "px!important;";
            modal_inner_wrap.removeClass('secure-form');
            modal_inner_wrap.css("cssText", cssText);

            iframe.css(data.iframe_data);
            $("#dimmed_background_box").remove();
        };

        var expandIframe = function(iframe, modal_inner_wrap) {
            var iframe_data = {
                position: iframe.attr("position") || "static",
                top: iframe.position().top,
                left: iframe.position().left,
                width: iframe.width(),
                height: iframe.height(),
                zIndex: iframe.attr("zIndex"),
                marginLeft: iframe.attr("marginLeft"),
                marginRight: iframe.attr("marginRight")
            };

            $('body').append("<div id='dimmed_background_box'></div>");
            $('#dimmed_background_box').css({ height:'100%',width:'100%',position:'fixed',top:0,left:0,zIndex:899,backgroundColor:'#000000',opacity:0.5 });

            var window_height = $(window).height();
            var window_width = $(window).width();
            var width = 960;

            if (window_width < 960) {
                width =  window_width;
                iframe.css({ height:window_height,width:width,top:0 });
            } else {
                iframe.css({ height:640,width:width,top:(window_height-640)/2 });
            }

            iframe.css({ position:'fixed',zIndex:999,margin:'auto' });

            var modal_data = {
                width: modal_inner_wrap.width()
            };

            $('.bobworldlineinr-modal .modal-footer').hide();

            var cssText = "width: " + width + "px!important;";
            modal_inner_wrap.addClass('secure-form');
            modal_inner_wrap.css("cssText", cssText);

            return {
                iframe_data: iframe_data,
                modal_data: modal_data
            }
        };

        var shrinked_iframe_data;
        var iframe = $('#everypay-payment-container');
        var modal_inner_wrap = $('.everypay-modal .modal-inner-wrap');

        window.addEventListener('message', function(event) {
            if (event.origin !== "https://igw-demo.every-pay.com" && event.origin !== "https://pay.every-pay.eu") { return; }
            var message = JSON.parse(event.data);

            if (message.resize_iframe == "expand") {
                shrinked_iframe_data = expandIframe(iframe, modal_inner_wrap);
            } else if (message.resize_iframe == "shrink") {
                shrinkIframe(iframe, shrinked_iframe_data, modal_inner_wrap);
            }

            if (message.transaction_result) {
                if (message.transaction_result == 'completed') {
                    redirectOnSuccessAction.execute();
                } else {
                    $.mage.redirect("<?php /* @escapeNotVerified */ echo $block->getCancelUrl() ?>");
                }
            }
        }, false);
    }
);
</script>