<?php
/**
 * @Author      : haunv
 * @package     Marketplace
 * @copyright   Copyright (c) 2020 MAGETOP (http://www.magetop.com)
 * @terms  http://www.magetop.com/terms
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 **/

?>
<?php echo $block->getBeforeHtml(); ?>
<button <?php /* @escapeNotVerified */ echo $block->getButtonAttributesHtml(), $block->getUiId(); ?>>
    <span><?php /* @escapeNotVerified */ echo $block->getLabel(); ?></span>
</button>
<?php echo $block->getAfterHtml(); ?>
