<!--
/**
 * @Author      : Kien
 * @package     Marketplace
 * @copyright   Copyright (c) 2020 MAGETOP (http://www.magetop.com)
 * @terms  http://www.magetop.com/terms
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 **/
 -->
<!--@subject Admin Notification {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"store url=\"customer/account/\"":"Customer Account Url",
"htmlescape var=$customer.name":"Customer Name",
"var customer.email":"Customer Email",
"store url=\"customer/account/confirm/\" _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url":"Confirmation Url",
"htmlescape var=$customer.password":"Customer password"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
    <div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
        <table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
            <tr>
                <td align="center" valign="top" style="padding:20px 0 20px 0">
                    <!-- [ header starts here] -->
                    <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                        <tr>
                            <td valign="top">
                                <a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a>
                            </td>
                        </tr>
                        <!-- [ middle starts here] -->
                        <tr>
                            <td valign="top">
                                <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">Dear {{var myvar1}},</h1>
                                <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Your withdrawal request has been successfully</p>
                                <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Payment method : {{var payment.getName()}}</p>      
                                {{depend payment_email}}
                                    <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">{{var payment.getName()}} Email Account : {{var payment_email}}</p>         
                                {{/depend}} 
                                <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Amount : {{var amount}}</p>     
                                <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Withdrawal Fee : {{var fee}}</p>     
                                <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Net Amount : {{var net}}</p>     
                                {{depend info}}
                                    <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">{{var payment.getName()}} Info : {{var info}}</p>   
                                {{/depend}}                                       
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>