
  <h4 class="magetop_rma_label" data-bind="'i18n': 'Select Order'"></h4>
  <div data-bind='simpleGrid: gridViewModel'></div>
    <script type="text/html" id="ko_simpleGrid_grid">
      <button class="action-secondary filter-order" type="button" data-action="grid-filter-apply">
          <span data-bind="'i18n': 'Apply Filters', click: filterGrid"></span>
      </button>
        <table id="magetop_rma_orders" class="data-table ko-grid" cellspacing="0">
          <thead class="magetop_rma_sorter">
              <tr data-bind="foreach: columns">
                 <th class="magetop_rma_sortable" data-bind="attr:{'id':rowText}, click: $parent.sort, afterRender: $parent.intializeSorting">
                   <!-- ko ifnot: headerText === '' -->
                      <span class="magetop_rma_table_title" data-bind="text: headerText"></span>
                      <span class=""></span>
                   <!-- /ko -->
                 </th>
              </tr>
          </thead>
          <thead class="magetop_rma_filter">
              <tr>
                  <th>
                      <input type="text" data-bind="value: orderFilter" id="magetop_rma_filter_order_id" class="filter_input"/>
                  </th>
                  <th>
                      <input type="text" data-bind="value: priceFilter" id="magetop_rma_filter_price" class="filter_input"/>
                  </th>
                  <th>
                      <input type="text" data-bind="value: dateFilter" id="magetop_rma_filter_date" class="filter_input"/>
                  </th>
                  <th></th>
              </tr>
          </thead>
          <tbody data-bind="foreach: itemsOnCurrentPage">
             <tr data-bind="foreach: $parent.columns, click: $parent.loadOrderDetail">
                 <!-- ko ifnot: rowText === 'radio' -->
                   <td data-bind="html: $parent[rowText]"></td>
                 <!-- /ko -->
                 <!-- ko if: rowText === 'radio' -->
                  <td>
                    <input data-bind="value: $parent['entity_id'], click: $parent.loadOrderDetail" type='radio' name='order_selection' class='magetop_rma_order_selection'/>
                  </td>
                 <!-- /ko -->
              </tr>
          </tbody>
        </table>
    </script>
    <script type="text/html" id="ko_simpleGrid_pageLinks">
        <div class="ko-grid-pageLinks">
            <span>Page(s):</span>
            <!-- ko foreach: ko.utils.range(0, maxPageIndex) -->
                   <a href="#" data-bind="text: $data + 1, click: function() { $root.currentPageIndex($data) }, css: { selected: $data == $root.currentPageIndex() }">
                </a>
            <!-- /ko -->
        </div>
    </script>
