.magetop_rma_bigbox .block:not(.widget) .block-content .box:nth-child(1){
    float: left;
    clear: left;
}
.magetop_rma_bigbox .box-title{
    display: inline-block;
    margin: 0 0 10px;
}
.magetop_rma_bigbox .box-information .box-content{
    font-size: 1.6rem;
    line-height: 24px;
}
.magetop_rma_bigbox .block:not(.widget) .block-content .box:nth-child(2){
    float: right;

}
.magetop_rma_bigbox .block:not(.widget) .block-content .box{
    width: 48%;
}
.magetop_image{
    clear: left;
}
