<div class="mb-d-content list_seller_product">
	<h4 class="label"><?php echo __('Latest Products'); ?></h4>
	<?php echo $block->getChildHtml('magetop.marketplace.products'); ?>
</div>
<style>
    .toolbar-products .label{
        all: unset;
    }
</style>