/**
 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket_Base
 * @copyright   Copyright (c) 2020 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 */

.base-exten-info {
  border: 1px solid #ccc;
}

.base-exten-info .last-version {
  color: green;
  font-weight: 600;
}

.base-exten-info .fail-fetch {
  color: #999;
  font-weight: 600;
}

.base-exten-latest-version,
.base-exten-warning {
  margin-top: -1px;
  padding: 5px 10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.base-exten-latest-version:last-child,
.base-exten-warning:last-child {
  border-bottom: 0;
}

.base-exten-info summary {
  position: relative;
  top: 1px;
  width: 100%;
  margin-top: -1px;
  padding: 5px 10px;
  box-sizing: border-box;
  background-color: #9cf;
  border-bottom: 1px solid #ccc;
}

.base-exten-info .new-update {
  color: #db0a0a;
  font-weight: 600;
}

.base-exten-available {
  color: #000;
  font-weight: 600;
}

.base-exten-info .details-item {
  padding: 5px 10px;
  padding-left: 50px;
}

fieldset .base-exten-info .details-item:last-child {
  margin-bottom: 10px;
}

.base-exten-info .details-item-avaible {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 5px;
}

.base-exten-info .details-item-avaible a {
  position: relative;
  padding: 9px 14px;
  padding-left: 45px;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  background-color: #029eeb;
  border-radius: 5px;
  transition: 0.3s;
}

.base-exten-info .details-item-avaible a:hover,
.base-exten-info .details-item-avaible a:focus {
  background-color: #088fd1;
  border-color: #088fd1;
  text-decoration: none;
}

.base-exten-info .details-item-avaible a::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translatey(-50%);
  width: 25px;
  height: 25px;
  background-image: url("../../images/download.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.base-exten-info .details-item.feature,
.base-exten-info .details-item.fix {
  margin-bottom: 0;
  padding-left: 70px;
}

.base-exten-info .details-item-ver {
  margin-bottom: 0;
  padding-bottom: 0;
  font-weight: 600;
  color: #193088;
}

.base-exten-info .details-item.feature,
.base-exten-info .details-item.fix {
  position: relative;
  margin-bottom: 0;
  padding-left: 90px;
}

.base-exten-info .details-item.feature::before,
.base-exten-info .details-item.fix:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  left: 60px;
  width: 22px;
  height: 22px;
}

.base-exten-info .details-item.feature::before {
  background-image: url(../../images/sprite.svg);
  background-position: 267px 207px;
}

.base-exten-info .details-item.fix::before {
  background-image: url(../../images/sprite.svg);
  background-position: 296px 207px;
}
