<div class="page-footer-inner">
	<b>Copyright</b> &copy; 2020 <a target="_blank" href="https://www.bhutanmade.bt" rel="nofollow">Bhutan Made</a>. All rights reserved.
</div>
<div class="scroll-to-top">
	<i class="icon-arrow-up"></i>
</div>