<!-- END THEME LAYOUT STYLES -->
<!-- BEGIN HEADER -->
<div class="page-header navbar">
	<!-- BEGIN HEADER INNER -->
	<div class="page-header-inner ">
		<!-- BEGIN LOGO -->
		<div class="page-logo">
			<a href="index.html">
				<img src="<?php echo $block->getViewFileUrl('Magetop_Marketplace::assets/layouts/layout/img/logo.png'); ?>" alt="logo" class="logo-default"/>
            </a>
			<div class="menu-toggler sidebar-toggler">
				<span></span>
			</div>
		</div>
		<!-- END LOGO -->
		<!-- BEGIN RESPONSIVE MENU TOGGLER -->
		<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
			<span></span>
		</a>
		<!-- END RESPONSIVE MENU TOGGLER -->
		<!-- BEGIN TOP NAVIGATION MENU -->
		<div class="top-menu">
            <?php echo $this->getLayout()->createBlock("Magento\Store\Block\Switcher")->setTemplate("Magetop_Marketplace::switch/languages.phtml")->toHtml(); ?>
			<ul class="nav navbar-nav pull-right">
				<!-- BEGIN NOTIFICATION DROPDOWN -->
				<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
				<!-- END NOTIFICATION DROPDOWN -->
				<!-- BEGIN INBOX DROPDOWN -->
				<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
				<?php 
    				$seller = $block->getSellerProfile();
    				$unread_msg = $block->getMessageUnread();
				?>
				<li class="item dropdown" style="color: #fff;">
				    <?php $helperMk = $this->helper(\Magetop\Marketplace\Helper\Collection::class); ?>
					<a class="dropdown-toggle" href="<?php echo  $helperMk->getRewriteUrl('marketplace/seller/view/vendor/'.$seller->getData('storeurl')); ?>">
                        <i class="fa fa-home"></i><?php echo __('Profile Page'); ?>
                    </a>
				</li>
				<?php if($seller->getLogoimg() != '') : ?>
				    <?php $logo = $block->getMkBaseMediaUrl().$seller->getLogoimg(); ?>
				<?php else : ?>
				    <?php $logo = $block->getViewFileUrl('Magetop_Marketplace::images/noimage.png'); ?>
				<?php endif; ?>
				<li class="dropdown dropdown-user">
					<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
						<img alt="" class="img-circle" src="<?php echo $logo; ?>" /> 
						<span class="username username-hide-on-mobile">
                            <?php echo $seller->getStoretitle() ?>
                        </span>
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="dropdown-menu dropdown-menu-default">
						<li>
							<a href="<?php echo $this->getUrl('marketplace/seller/account') ?>">
								<i class="icon-user"></i><?php echo __('My Profile') ?>
                            </a>
						</li>
						<li>
							<a href="<?php echo $this->getUrl('messages') ?>">
								<i class="icon-envelope-open"></i><?php echo __('My Inbox') ?>
								<span class="badge badge-danger">
                                    <?php echo $unread_msg->count() ?>
                                </span>
							</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="<?php echo $this->getUrl('customer/account/logout') ?>">
								<i class="icon-key"></i><?php echo __('Log Out') ?>
                            </a>
						</li>
					</ul>
				</li>
				<!-- END USER LOGIN DROPDOWN -->
				<!-- BEGIN QUICK SIDEBAR TOGGLER -->
			</ul>
		</div>
		<!-- END TOP NAVIGATION MENU -->
	</div>
	<!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"></div>
<!-- END HEADER & CONTENT DIVIDER -->