table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

td, th {
  vertical-align:middle;
}

tr:hover {
  background-color:#f5f5f5
}

#helpdesk-frontend-form label {
  font-weight: 600;
  color: #676a6c;
  font-size: 15px;
}

#new-ticket-data {
  margin-top: 4%;
  background-color: #1f90bb;
  border: none;
  color: white;
  padding: 11px 08px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#uvdesk_create_ticket {
  margin-left:87%;margin-top:-68px;background-color: #1f90bb;
  border: none;
  color: white;
  padding: 11px 08px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.uvdesk-frontend-thread-view {
  background-color: #1f90bb;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.panell{
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-defaultt {
    border-color: #ddd;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.uvhead {
    height: 55px;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.table-bordered {
    border: 1px solid #ddd;
}
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
table {
    background-color: transparent;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
.pagination>li {
    display: inline;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.loading-old, .loading-mask {
    background: rgba(255,255,255,0.4);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2003;
}
.popup-loading {
    border-color: #ef672f;
    color: #ef672f;
    font-size: 14px;
    font-weight: bold;
    left: 50%;
    margin-left: -100px;
    padding: 100px 0 10px;
    position: fixed;
    text-align: center;
    top: 40%;
    width: 200px;
    z-index: 1003;
}
.loading-old, .loadingg-mask {
    background: rgba(255,255,255,0.4);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2003;
}
.popupp-loading {
    border-color: #ef672f;
    color: #ef672f;
    font-size: 14px;
    font-weight: bold;
    left: 50%;
    margin-left: -100px;
    padding: 100px 0 10px;
    position: fixed;
    text-align: center;
    top: 40%;
    width: 200px;
    z-index: 1003;
}
@media screen and (min-width: 540px) {
    #filter_status_res{
        display:none;
    }
    #filter_button_res{
        display:none;
    }
    #sort_ticket{
        margin-top: 1%;
        margin-right: 16%;
        width: 12%;
    }
}
@media screen and (max-width: 540px) {
    .panel-title{
        display:none;
    }
    #filter_status_res{
        display:block;
    }
    #sort_ticket{
        margin-top: 0%;
        margin-right: 0%;
        width: 100%;
    }
    #filter_button{
        display:block;
    }
    .uvhead {
        all:unset;
    }
    #uvdesk_create_ticket {
        margin-left: 0%;
        margin-top: 0px;
        background-color: #1f90bb;
        border: none;
        color: white;
        padding: 8px 3px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 13px;
    }
}