<?php
/**
 * @Author      : haunv
 * @package     Marketplace
 * @copyright   Copyright (c) 2020 MAGETOP (http://www.magetop.com)
 * @terms  http://www.magetop.com/terms
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 **/
?>
<div data-bind="scope: '<?= /* @noEscape */  $block->getComponentName()?>'">
    <h2 class="steps-wizard-title"><?php echo $block->escapeHtml(
            __('Step 4: Summary')
        ); ?></h2>

    <div class="magetop__data-grid-wrap magetop__data-grid-wrap-static">
        <!-- ko if: gridNew().length -->
            <!-- ko template: {name: getGridTemplate(), data: {
                grid: gridNew,
                id: getGridId(),
                title: $t('New Product Review'),
                note: $t('Here are the products you\'re about to create.')
            }} --><!-- /ko -->
        <!-- /ko -->

        <!-- ko if: gridExisting().length -->
            <!-- ko template: {name: getGridTemplate(), data: {
                grid: gridExisting,
                id: getGridId(),
                title: $t('Associated Products'),
                note: $t('You created these products for this configuration.')
            }} --><!-- /ko -->
        <!-- /ko -->

        <!-- ko if: gridDeleted().length -->
            <!-- ko template: {name: getGridTemplate(), data: {
                grid: gridDeleted,
                id: getGridId(),
                title: $t('Disassociated Products'),
                note: $t('These products are not associated.')
            }} --><!-- /ko -->
        <!-- /ko -->
    </div>
</div>

<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "variation-steps-wizard_step4": {
						"gridTemplate": "Magetop_Marketplace/variations/steps/summary-grid",
                        "component": "Magetop_Marketplace/js/variations/steps/summary",
                        "appendTo": "<?= /* @noEscape */  $block->getParentComponentName()?>",
                        "variationsComponent": "configurableVariations"
                    }
                }
            }
        }
    }
</script>
