#marketpkace-multi-shipping { min-width: 210px; }
#marketpkace-multi-shipping .block-title-seller  th { font-weight: bold; padding: 5px; }
#marketpkace-multi-shipping input {height: auto;margin: 0;}
#marketpkace-multi-shipping th, #marketpkace-multi-shipping td { padding: 5px; }