#bobworldline-payment-container {
    width: 100%;
    height: 409px;
    border: 0;
}

@media all and (min-width: 1024px), print {
    .checkout-index-index .bobworldline-modal .modal-popup .modal-inner-wrap {
        margin-left: auto!important;
        right: 0!important;
        left: 0!important;
    }
}

.secure-form {
    margin: 0 auto!important;
    left: 0!important;
    right: 0!important;
    width: 960px!important;
}

.bobworldline-modal .modal-inner-wrap {
    width: 358px!important;
}

.bobworldline-modal .modal-header {
    display: none;
}

.bobworldline-modal .modal-content {
    padding: 0;
}

.bobworldline-modal .modal-footer {
    padding: 1rem;
}

.bobworldline-modal .modal-footer button {
    width: 100%;
}

.bobworldline-saved-tokens {
    margin-bottom: 2rem;
}

.tokens-list {
    margin-top: 1rem;
}

.tokens-list ul {
    list-style: none;
}

.tokens-list ul li {
    margin-bottom: 1rem;
}

.tokens-list ul li img {
    width: 50px;
}

.tokens-list .action-delete {
    cursor: pointer;
}

#bobworldline-logos img {
    padding: 1rem;
    max-width: 100px;
    height: 50px;
}